
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

main {
    padding: 16px;
    margin: 5px;
}

footer {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 30px;
    background-color: #B4CF66;
    margin-top: 100px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
}
img {
    height: 220px;
}
nav {
    border-bottom: 1px solid #44803F;
    padding: 16px;
    background: #FF5A33;
}
.container {
    display: inline-grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
}
.cell {
    display: inline-block;
    padding: 20px;
}
a {
    color: #44803F;
    text-decoration: none;
}
h1 {
    color: #146152;
    font-size: 55px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.is-readable {
    color: white;
}
a:hover {
    color: rgb(11, 80, 11);
}
td, th {
    display: table-cell;

    /* border: 1px solid black; */
}
h2{
    font-size: 38px;
}
h3 {
    font-size: 30px;
}
.ing-page{
    color: rgb(35, 71, 35)
}
.ing-title{
    color:#B4CF66
}
table tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
}
